<%@ page import="studentgradesifgalphagrails.Module" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'module.label', default: 'Module')}"/>
    <title><g:message code="default.list.label" args="[entityName]"/></title>
</head>

<body>
<a href="#list-module" class="skip" tabindex="-1"><g:message code="default.link.skip.label"
                                                             default="Skip to content&hellip;"/></a>

<div class="nav" role="navigation">
    <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label"
                                                              args="[entityName]"/></g:link></li>
    </ul>
</div>

<div id="list-module" class="content scaffold-list" role="main">
    <h1><g:message code="default.list.label" args="[entityName]"/></h1>
    <g:if test="${flash.message}">
        <div class="message" role="status">${flash.message}</div>
    </g:if>
    <table>
        <thead>
        <tr>

            <g:sortableColumn property="coefficient"
                              title="${message(code: 'module.coefficient.label', default: 'Coefficient')}"/>

            <g:sortableColumn property="module" title="${message(code: 'module.module.label', default: 'Module')}"/>

        </tr>
        </thead>
        <tbody>
        <g:each in="${moduleInstanceList}" status="i" var="moduleInstance">
            <tr class="${(i % 2) == 0 ? 'even' : 'odd'}">

                <td><g:link action="show"
                            id="${moduleInstance.id}">${fieldValue(bean: moduleInstance, field: "coefficient")}</g:link></td>

                <td>${fieldValue(bean: moduleInstance, field: "module")}</td>

            </tr>
        </g:each>
        </tbody>
    </table>

    <div class="pagination">
        <g:paginate total="${moduleInstanceCount ?: 0}"/>
    </div>
</div>
</body>
</html>
